li{
    text-align:left;
    font-size:16px;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 20px;
    /* background:#ff9e97; */
}

li{
    display:flex;
}

li div:first-of-type{
    flex:1;
    display: flex;
    align-items: center
}

li div:nth-child(2){
    flex:5;
}

li div:last-of-type{
    flex:1;
}

input {
    background:rgba(255, 255, 255, 0.137);
    border: none;
    height: 25px;
    border-radius: 5px;
}

    input ~ span:hover{
        cursor: pointer;
    }