body {
  margin: 0;
  font-family: 'Hachi Maru Pop', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

ul{
  padding: 0 20px;
}


.newTask{
  background:white;
  padding-bottom: 30px;
}

  .newTask input{
    border-bottom: 1px solid rgb(61, 60, 60);
    border-radius: 2px!important;
    width: 70%;
  }

  .newTask input:focus{
    outline:none;
  }

  .newTask .btn{
    background:none;
    border: none;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bold;
    font-size: 18px;
  }
    .newTask .btn:hover{
      cursor: pointer;
    }

code {
  font-family: 'Hachi Maru Pop', cursive;
}

.App-header div{
  width: 80%;
}

h2{
  width: 80%;
  height: 100px;
  line-height:100px;
  border-radius: 40px 40px 0 0 ;
  margin: 0;
  background:white;
}

h3 span:hover{
  cursor: pointer;
}

ul{
  list-style:none;
}

  ul li div p:hover{
    cursor: pointer;
  }

.main{
  background:white;
  border-top: 1px solid black;
  border-radius: 0 0 5px 5px;
  padding: 0;
}

ul li{
  position: relative;
}

.red{
  background:#ff9e97;
}

.yellow{
  background:#ffe189;
}

.green{
  background:#85c7c3;
}

input{
  height: 40px;
  font-size: 18px;
  padding-right: 5px;
  margin-right: 10px;
}

input, input::placeholder {
  font-family: 'Hachi Maru Pop', cursive;
}

img{
  width: 2.5%;
  margin: 0 1%;
}

.flex-center{
  display:flex;
  align-items: center;
  margin-right: 10px;
}

  .flex-center p{
    font-weight: bold;
  }

.deleteX{
  top: 15%;
  right: 20%;
  width: 10%!important;
  position: absolute;
  justify-content: flex-end;
}

  select{
    border: 0.2px solid #333;
    background: none;
    font-size: 16px;
    font-family: 'Hachi Maru Pop', cursive;
  }