body {
  margin: 0;
  font-family: 'Hachi Maru Pop', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

ul{
  padding: 0 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header div{
  width: 80%;
}

h2{
  width: 80%;
  height: 100px;
  line-height:100px;
  border-radius: 40px 40px 0 0 ;
  margin: 0;
  background:white;
}



ul{
  list-style:none;
}

.main{
  background:white;
  border-top: none;
  border-radius: 5px;
  padding: 0;
}

.red{
  background:#ff9e97;
}

.yellow{
  background:#ffe189;
}

.green{
  background:#85c7c3;
}